html
  font-size: 16px

body
  background: $color-background

img
  max-width: 100%
  height: auto


.section-panel
  position: relative
  +cf()

// PRODUCT INTRODUCTION
.intro
  margin-top: 2rem
  .intro__image
    +cols-collapse(6)
    @media #{$break-small}
      +cols-collapse(4)
    @media #{$break-smallest}
      +cols-collapse(12)
      text-align: center
      img
        max-height: 50vh
  .intro__main
    +cols-collapse(5)
    @media #{$break-small}
      +cols-collapse(8)
    @media #{$break-smallest}
      +cols-collapse(12)
  .more-details
    position: absolute
    left: 60%
    bottom: -9rem
    transform: translateX(-50%)
    @media #{$break-smallest}
      left: 50%
.prod-intro
  .prod-intro__title
    font-size: $size-title-page
    margin-bottom: 0
  .prod-intro__subtitle
    font-size: $size-title-large
    font-weight: 500
    margin-top: 0

.prod-purchase
  max-width: 80%
  .prod-purchase__price
    font-size: $size-title-large
    margin-right: 1rem
  .prod-purchase__btn
    display: block
    margin-top: 1rem
    background: white
    border-radius: 4px
    padding: 1rem
    color: $color-body
    transition: all 0.3s ease
    margin-bottom: 3rem
    position: relative
    &:hover
      background: lighten($color-body, 25%)
      color: white
      .prod-purchase__btn__icon
        color: white
  .prod-purchase__btn__icon
    position: absolute
    transition: color 0.3s ease
    right: 0.7rem
    top: 50%
    transform: translateY(-50%)
    width: 1em
    height: 1em
    color: $color-grey-dark

.prod-quantity
  font-size: $size-title-medium
  position: relative
  cursor: pointer
  float: right
  display: inline-block
  .prod-quantity__icon
    width: 0.5em
    height: 0.5em
    position: absolute
    right: 0.7rem
    top: 50%
    transform: translateY(-50%)
    color: $color-grey-dark
    pointer-events: none
  .prod-quantity__select
    -webkit-appearance: none
    border-radius: 4px
    background: white
    border: 0
    cursor: pointer
    color: $color-body
    padding: 0.5rem 2.5rem 0.5rem 1rem
    -moz-appearance: none
    &::-ms-expand
      display: none

.prod-protection
  background: white
  padding: 2rem
  margin-top: 3rem
  .prod-protection__title
    margin-top: 0
    margin-bottom: 0.5em
  .prod-protection__option
    font-size: $size-body-small
    margin-bottom: 1em
    cursor: pointer
    input[type="radio"]
      border-radius: 0
      background: #dfe4e8
      -webkit-appearance: none
      width: 1em
      height: 1em
      margin-right: 1em
      border: 0.25em solid grey
      display: inline-block
      vertical-align: middle
    input[type="radio"]:checked
      background: grey
  .prod-protection__label
    cursor: pointer
    .prod-protection__cost
      color: $color-blue
      margin-left: 2em
  .prod-protection__additional
    font-size: $size-body-small



.ratings-stars
  .ratings-stars__star
    font-style: normal
    &::before
      line-height: 1
      content: '★'
      font-size: 1.5rem
  .ratings-stars__star--filled
    @extend .ratings-stars__star
    color: $color-green




// SECTION PANELS
.section-title-block
  width: 100%
  position: relative
  &::before
    content: ''
    padding-bottom: 100%
    display: block
  .section-title-block__content
    position: absolute
    bottom: 2rem
    left: 2rem
    right: 2rem
  .section-title-block__title
    font-size: $size-title-page
    line-height: 1
    margin: 0
    color: white
  .section-title-block__title-thin
    display: block
    font-weight: 300
.section-title-block--offset-half
  @extend .section-title-block
  margin-top: -50%


.top-features
  margin-top: 12rem
  .top-features__header
    +cols-collapse(4)
    position: relative
    @media #{$break-small}
      +cols-collapse(12)
  .section-title-block
    background: $color-pink
    @media #{$break-small}
      +cols-collapse(6)
      margin-top: 0
    @media #{$break-smallest}
      +cols-collapse(8)
  .top-features__info
    +cols-collapse(8)
    background: white
    padding-top: 2rem
    padding-bottom: 2rem
    @media #{$break-small}
      +cols-collapse(12)
    [class*="content-title"]:first-child
        margin-top: 0
  .top-features__col
    +cols(6)
  .content-title-small
    margin-top: 2em
    margin-bottom: 0
    + p
      margin-top: 0
  .top-features__videos
    +cf
    position: absolute
    width: 100%
    top: 100%
    @media #{$break-small}
      position: relative
      top: auto
      +cols-collapse(6)
    @media #{$break-smallest}
      +cols-collapse(4)
    .video-promo-trigger
      +cols-collapse(6)
      display: block
      position: relative
      transition: opacity 0.3s ease
      &:first-child
        +cols-offset(6)
      &:hover
        opacity: 0.8
      &::before
        content: ''
        position: absolute
        background: rgba(0,0,0,0.6)
        top: 0
        bottom: 0
        right: 0
        left: 0
        z-index: 1
      &::after
        color: white
        line-height: 1
        content: '\25BA'
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        z-index: 2
        padding: 0.5em 0.5em 0.4em 0.5em
        border-radius: 50%
        border: 2px solid white
    img
      display: block
      width: 100%
  .more-details
    position: absolute
    left: 30%
    bottom: -13rem
    transform: translateX(-50%)
    @media #{$break-smallest}
      transform: none
      left: 0%


// DETAILED SPECS
.detailed-specs
  .detailed-specs__header
    +cols-collapse(4)
    +cols-offset(8)
    @media #{$break-small}
      +cols-collapse(6)
      +cols-offset(6)
    @media #{$break-smallest}
      +cols-collapse(8)
      +cols-offset(4)
  .detailed-specs__col
    +cols(4)
    @media #{$break-small}
      +cols-collapse(6)
  .section-title-block
      background: $color-yellow
  .detailed-specs__info
    background: white
    padding-top: 2rem
    padding-bottom: 2rem
    [class*="content-title"]:first-child
        margin-top: 0
    .content-title-small
      margin-bottom: 0
  .detailed-specs__more
    +cols(12)
    margin-top: 2rem
  .more-details
    left: 60%
    bottom: -12rem
    transform: translateX(-50%)
    @media #{$break-smallest}
      transform: none
      left: auto
      right: 0

.detailed-specs__offset-image
  position: absolute
  top: 0
  right: -1rem
  transform: translateY(-50%)



// REVIEWS
.read-reviews
  .read-reviews__header
    +cols-collapse(4)
    @media #{$break-small}
      +cols-collapse(6)
    @media #{$break-smallest}
      +cols-collapse(8)
  .section-title-block
      background: $color-green
  .read-reviews__info
    +cols-collapse(8)
    background: white
    padding-top: 2rem
    padding-bottom: 2rem
    @media #{$break-small}
      +cols-collapse(12)


.overall-score
  +cols(4)
  padding: 2rem
  @media #{$break-small}
      +cols-collapse(8)
  .overall-score__title
    font-size: $size-title-22
    margin: 0
    font-weight: 300
  .overall-score__rate
    font-size: 7.5rem
    font-weight: 700


.review
  +cf
  margin-bottom: 3rem
  &:last-child
    margin-bottom: 0
  .review__content
    +cols(8)
  .review__ratings
    +cols(4)

.review-rating
  .review-rating__title
    @extend .content-title-small
    margin-bottom: 0.5em

.review-ratings-bar
  +cf
  .review-ratings-bar__item
    float: left
    width: calc(20% - 0.2em)
    margin-right: 0.2em
    &::before
      content: ''
      height: 3px
      width: 100%
      background: $color-grey
      display: block
  .review-ratings-bar__item--filled
    @extend .review-ratings-bar__item
    &::before
      background: $color-green
