$break-widest: "only screen and (min-width : 1220px)";
$break-small: "only screen and (max-width : 50rem)";
$break-smallest: "only screen and (max-width : 600px)";


.container
  max-width: 1220px
  padding: 1rem
  margin: 0 auto

.row
  position: relative
  +cf

.group
  +cf

// CUSTOM GRID GENERATOR
$columns: 12
$padding: 2rem

=cols($cols)
  float: left
  width: calc(100% / (#{$columns} / #{$cols}))
  padding-left: $padding
  padding-right: $padding

=cols-collapse($cols)
  float: left
  width: calc(100% / (#{$columns} / #{$cols}))

=cols-offset($cols)
  margin-left: calc(100% / (#{$columns} / #{$cols}))

=grid-generator($prefix, $padding)
  .row
    margin-left: -#{$padding}
    margin-right: -#{$padding}
  @for $i from 1 through $columns
    .#{$prefix}-#{$i}
      +cols($i)

    .#{$prefix}-collapse-#{$i}
      +cols-collapse($i)

    .#{$prefix}-offset-#{$i}
      +cols-offset($i)

+grid-generator(col, 2rem)

[class*="col-"]
  float: left
  &:last-child
    margin-right: 0


