$body-font: 'Open Sans', sans-serif;

// font-sizes
$size-body-small: 0.8rem

$size-title-page: 3.5rem
$size-title-large: 2.5rem
$size-title-medium: 1.875rem
$size-title-22: 1.375rem
$size-title-small: 1.1rem

body
  font-family: $body-font
  color: $color-body
  line-height: 1.5

a
  text-decoration: none
  color: $color-link

// HEADINGS
h1, h2, h3, h4, h5
  font-weight: 700
.content-title-medium
  font-size: $size-title-medium

.content-title-small
  font-size: $size-title-small

// UI ELEMENTS
button
  border: 0
  background: transparent
  padding: 0
  margin: 0
  cursor: pointer


.btn
  padding: 1em
  color: white
  background: $color-body
  border-radius: 4px
  font-size: 1.375rem
  line-height: 1
  display: inline-block
  transition: all 0.3s ease
  &:hover
    .btn__arrow
      transform: translateX(0.3em)
  .btn__arrow
    display: inline-block
    height: 0.7em
    width: 1em
    margin-left: 0.5em
    transition: transform 0.3s ease
.btn--yellow
  @extend .btn
  background: $color-yellow
  &:hover
    background: darken($color-yellow, 5%)
.btn--green
  @extend .btn
  background: $color-green
  &:hover
    background: darken($color-green, 5%)



.more-details
  border-radius: 50%
  background: white
  width: 6rem
  height: 6rem
  font-size: $size-body-small
  color: $color-body
  transition: color 0.3s ease, background 0.3s ease
  position: absolute
  z-index: 1
  .more-details__chevron
    display: block
    margin: 0 auto
    width: 2em
    height: 1em
    margin-bottom: 0.5em
    transition: transform 0.3s ease
  &:hover
    color: white
    background: $color-body
    .more-details__chevron
      transform: translateY(0.2em)
